.App {
  min-height: 100vh;
  background: #F9FAFB;
  display: flex;
  flex-direction: column;
}

.app {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  min-height: 100vh;
  background: #F9FAFB;
  display: flex;
  flex-direction: column;
} 